body {
    background-image: linear-gradient( wheat,lightyellow,wheat);
    transition: opacity 1.5s linear;
    opacity: 0;
}

#banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cell {
    font-size: 4rem;
    color: lightsalmon;
    opacity: 0;
    transition: opacity 1s linear;
}

#grid {
    display: flex;
    justify-content: center;
}

table{  
    width: 40%;
    padding: 0;
}

td {
    height: 100px;
    width: 80px;
    text-align: center;
    padding: 0; 
}

td:nth-child(1){
    border-right: 3px solid goldenrod;
}

td:nth-child(2){
    border-right: 3px solid goldenrod;
}

tr:nth-child(1){
    border-bottom: 3px solid goldenrod;
}

tr:nth-child(2){
    border-bottom: 3px solid goldenrod;
}

#reset_div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    margin-top: 30px;
    opacity: 0;
    transition: opacity 1s linear;
}

button > span {
    position: relative;
    margin-left: 5px;
}

.role {
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 10px;
    color: gray;
}
#turn {
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

#turn > div{
    text-align: center;
    border: 1px solid lightblue;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

@media screen and (orientation: portrait) {
    .role {
        font-size: 2rem !important;
    }
    #turn {
        font-size: 15px !important;
    }
    td {
        width: 50px !important;
        height: 70px !important;
    }
}

#result {
    text-align: center;
}
