#public_list {
    height: 100%;
    max-height: 350px;
    overflow: auto;
}

.title-bar {
    position: relative;
    margin-left: auto;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s, opacity 2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.title-bar :hover {
    -webkit-animation: twinkling 1s infinite;
    transform: scale(1.5,1.5);
}

#userName {
    position: relative;
    margin-left: auto;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s, opacity 2s;
    opacity: 0;
    font-size: 20px;
}

@-webkit-keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

#room-icon {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#room-icon:hover {
    -webkit-animation: spin 2s infinite;
    animation: spin 2s infinite;
}

@-webkit-keyframes spin{
    from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin{
    from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.content{
    background-color: sandybrown;
    padding: 5px;
    display: inline-block;
    max-width: 30%;
    border-radius: 10px;
    color: aliceblue;
    word-wrap: break-word;
    margin: 3px;
}

.speaker {
    background-color: skyblue;
    max-width: 50%;
    overflow: auto;
    padding: 7px;
    border-radius: 10px;
    color:aliceblue;
    word-wrap: break-word;
    position: relative;
}

.clear {
    clear: both;
}

.mysay{
    float: right;
}

#history_div {
    background-image: url('../img/star.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#input_div::before{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/star2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
    content: "";
    z-index: -1;
    
}
#input_div {
    position: relative;
    z-index: 1;
}

body {
    transition: opacity 1.5s linear;
}