
.fas {
    position: relative;
    margin-right: 20px;
}
.fas:hover {
    color: wheat;
}

.far {
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

.fa-thumbs-down {
    position: relative;
    margin-left: 1rem;
}

.thumb {
    display: none;
    transition: trasform 2s linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.thumb:hover {
    -webkit-animation: spin 2s;
    animation: spin 2s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes spin{
    from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
	}
}
@keyframes spin{
    from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
	}
}

.content{
    background-color: lightpink;
    padding: 5px;
    display:inline-block;
    max-width: 40%;
    border-radius: 10px;
    color: aliceblue;
    word-wrap: break-word;
    margin: 3px;
}

.clear {
    clear: both;
}

.mysay{
    float: right;
}

#main_body {
    padding-top: 5px;
    background-image: url('../img/wood.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#chat_content{
    height: 495px;
    overflow: auto;
}

body {
    transition: opacity 1.5s linear;
    opacity: 0;
}