html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient( wheat,lightyellow,wheat);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

#btnSignUp {
  color: white;
}

#img:hover {
  transition: transform 2s;
  animation-duration: 1s;
  transform-origin: center;
  animation:spin 5s linear infinite;
}
@keyframes spin{
  0% {
    transform: scale(2.0,2.0);
  }
  16%{
    transform: rotateY(90deg);
  }
  32%{
    transform: rotateY(180deg);
  }
  48%{
    transform: scale(2.0,2.0);
  }
  64%{
    transform: rotateY(90deg);
  }
  80%{
    transform: rotateY(0deg);
  }
  100%{
    transform: scale(1.0,1.0);
  }
}
